extends ../layouts/common.pug
block content
    h1 Update book
    form(action=`/books/update/${book.id}`, method="POST")
        label Title
        input(type="text", name='title', value=book.title, class="form-control ml-4")
        label Description
        input(type="text", name='description', value=book.description, class="form-control ml-4")
        button(class="btn btn-primary ml-4 mt-3") Save